node_modules/
dist/
__pycache__/
*.pyc
.env
*.egg-info/
frontend/dist/
backend/__pycache__/
c
downloadest-master-*.csv
establishments_filtered_all.csv
*.xlsx
*.db
backend/epfo_ro_bbs.db
backend/database.db